@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-pink-light: #FFCFE5;
    --color-pink-lighter: #FDDFEC;
    --color-pink-lightest: #FFF5F7;
    --color-purple-light: #F4EDFF;
    --color-purple-lighter: #EBD6FF;
    --color-purple-lightest: #E6C8FD;
}
